<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mushroom Kingdom</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename = 'assets/img/mushroom.png')}}" rel="icon">
  <link href="{{ url_for('static', filename = 'assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="{{ url_for('static', filename = 'https://fonts.googleapis.com')}}">
  <link rel="preconnect" href="{{ url_for('static', filename = 'https://fonts.gstatic.com')}}" crossorigin>
  <link href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap' rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename = 'assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename = 'assets/css/main.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Yummy
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="/home" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Mushroom Kingdom<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About Mushrooms</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#predict">Predict</a></li>
          
        </ul>
      </nav><!-- .navbar -->



    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Uncovering the Hidden truths of <span> Mushroom Kingdom</span></h2>
          <p data-aos="fade-up" data-aos-delay="100"></p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#about" class="btn-book-a-table">About Mushrooms</a>
            
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="{{url_for('static', filename = 'assets/img/hero-img1.jpg')}}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Mushrooms</h2>
          <p>Learn More <span>About Mushrooms</span></p>
        </div>

        <div class="row gy-4">
          <div  id = "bo1" class="col-lg-7 position-relative about-img" style="background-image: url('static/assets/img/Boletus.jpg')" data-aos="fade-up" data-aos-delay="150">
            <div class="call-us position-absolute">
              <h4>Category</h4>
              <p>Boletus</p>
            </div>
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Mushrooms are a type of fungi that grow in a variety of habitats, from forests to fields to decomposing logs. They come in many different shapes, sizes, and colors, and are used for food, medicine, and other purposes. A mushroom is a fruitful body of fungus which is usually produced above the ground on soil or other nutrients. We only concentrate on mushrooms and do not consider fungus species. <br> These Mushrooms are majorly classified into 3 categories namely:
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> Boletus</li>
                <li><i class="bi bi-check2-all"></i> Lactarius</li>
                <li><i class="bi bi-check2-all"></i> Russula</li>
              </ul>
              

              <div class="position-relative mt-4">
                <img src= static/assets/img/tbm.jpg class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=BlcKBKJ8uro&ab_channel=NationalGeographic" class="glightbox play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <!-- End Why Us Section -->

    <!-- ======= Stats Counter Section ======= -->
<!-- End Stats Counter Section -->

    <!-- ======= gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Gallery</h2>
          <p><span>Mushroom Classes</span></p>
        </div>

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#gallery-starters">
              <h4>Boletus</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#gallery-breakfast">
              <h4>Lactarius</h4>
            </a><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#gallery-lunch">
              <h4>Russula</h4>
            </a>
          </li><!-- End tab nav item -->

          

        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

          <div class="tab-pane fade active show" id="gallery-starters">

            <div class="tab-header text-center">
              <p>Category</p>
              <h3>Boletus</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 gallery-item">
                <a href="{{url_for('static', filename = 'assets/img/Boletus/b1.jpg')}}" class="glightbox"><img src="{{url_for('static', filename = 'assets/img/Boletus/b1.jpg')}}" class="gallery-img img-fluid" alt=""></a>
                
              </div><!-- gallery Item -->

              <div class="col-lg-4 gallery-item">
                <a href="{{url_for('static', filename = 'assets/img/Boletus/b2.jpg')}}" class="glightbox"><img src="{{url_for('static', filename = 'assets/img/Boletus/b2.jpg')}}" class="gallery-img img-fluid" alt=""></a>
                
              </div><!-- gallery Item -->

              <div class="col-lg-4 gallery-item">
                <a href="{{url_for('static', filename = 'assets/img/Boletus/b3.jpg')}}" class="glightbox"><img src="{{url_for('static', filename = 'assets/img/Boletus/b3.jpg')}}" class="gallery-img img-fluid" alt=""></a>
                
              </div><!-- gallery Item -->

              <div class="col-lg-4 gallery-item">
                <a href="{{url_for('static', filename = 'assets/img/Boletus/b4.jpg')}}" class="glightbox"><img src="{{url_for('static', filename = 'assets/img/Boletus/b4.jpg')}}" class="gallery-img img-fluid" alt=""></a>
                
              </div><!-- gallery Item -->

              <div class="col-lg-4 gallery-item">
                <a href="{{url_for('static', filename = 'assets/img/Boletus/b5.jpg')}}" class="glightbox"><img src="{{url_for('static', filename = 'assets/img/Boletus/b5.jpg')}}" class="gallery-img img-fluid" alt=""></a>
                
              </div><!-- gallery Item -->

              <div class="col-lg-4 gallery-item">
                <a href="{{url_for('static', filename = 'assets/img/Boletus/b6.jpg')}}" class="glightbox"><img src="{{url_for('static', filename = 'assets/img/Boletus/b6.jpg')}}" class="gallery-img img-fluid" alt=""></a>
                
              </div><!-- gallery Item -->

            </div>
          </div><!-- End Starter gallery Content -->

          <div class="tab-pane fade" id="gallery-breakfast">

            <div class="tab-header text-center">
              <p>Category</p>
              <h3>Lactarius</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 gallery-item">
                <a href="{{url_for('static', filename = 'assets/img/Lactarius/l1.jpg')}}" class="glightbox"><img src="{{url_for('static', filename = 'assets/img/Lactarius/l1.jpg')}}" class="gallery-img img-fluid" alt=""></a>
                
              </div><!-- gallery Item -->

              <div class="col-lg-4 gallery-item">
                <a href="{{url_for('static', filename = 'assets/img/Lactarius/l2.jpg')}}" class="glightbox"><img src="{{url_for('static', filename = 'assets/img/Lactarius/l2.jpg')}}" class="gallery-img img-fluid" alt=""></a>
                
              </div><!-- gallery Item -->

              <div class="col-lg-4 gallery-item">
                <a href="{{url_for('static', filename = 'assets/img/Lactarius/l3.jpg')}}" class="glightbox"><img src="{{url_for('static', filename = 'assets/img/Lactarius/l3.jpg')}}" class="gallery-img img-fluid" alt=""></a>
                
              </div><!-- gallery Item -->

              <div class="col-lg-4 gallery-item">
                <a href="{{url_for('static', filename = 'assets/img/Lactarius/l4.jpg')}}" class="glightbox"><img src="{{url_for('static', filename = 'assets/img/Lactarius/l4.jpg')}}" class="gallery-img img-fluid" alt=""></a>
                
              </div><!-- gallery Item -->

              <div class="col-lg-4 gallery-item">
                <a href="{{url_for('static', filename = 'assets/img/Lactarius/l5.jpg')}}" class="glightbox"><img src="{{url_for('static', filename = 'assets/img/Lactarius/l5.jpg')}}" class="gallery-img img-fluid" alt=""></a>
                
              </div><!-- gallery Item -->

              <div class="col-lg-4 gallery-item">
                <a href="{{url_for('static', filename = 'assets/img/Lactarius/l6.jpg')}}" class="glightbox"><img src="{{url_for('static', filename = 'assets/img/Lactarius/l6.jpg')}}" class="gallery-img img-fluid" alt=""></a>
                
              </div><!-- gallery Item -->

            </div>
          </div><!-- End Breakfast gallery Content -->

          <div class="tab-pane fade" id="gallery-lunch">

            <div class="tab-header text-center">
              <p>Category</p>
              <h3>Russula</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 gallery-item">
                <a href="{{url_for('static', filename = 'assets\img\Russula/r1.jpg')}}" class="glightbox"><img src="{{url_for('static', filename = 'assets/img/Russula/r1.jpg')}}" class="gallery-img img-fluid" alt=""></a>
                
              </div><!-- gallery Item -->

              <div class="col-lg-4 gallery-item">
                <a href="{{url_for('static', filename = 'assets/img/Russula/r2.jpg')}}" class="glightbox"><img src="{{url_for('static', filename = 'assets/img/Russula/r2.jpg')}}" class="gallery-img img-fluid" alt=""></a>
                
              </div><!-- gallery Item -->

              <div class="col-lg-4 gallery-item">
                <a href="{{url_for('static', filename = 'assets/img/Russula/r3.jpg')}}" class="glightbox"><img src="{{url_for('static', filename = 'assets/img/Russula/r3.jpg')}}" class="gallery-img img-fluid" alt=""></a>
                
              </div><!-- gallery Item -->

              <div class="col-lg-4 gallery-item">
                <a href="{{url_for('static', filename = 'assets/img/Russula/r4.jpg')}}" class="glightbox"><img src="{{url_for('static', filename = 'assets/img/Russula/r4.jpg')}}" class="gallery-img img-fluid" alt=""></a>
                
              </div><!-- gallery Item -->

              <div class="col-lg-4 gallery-item">
                <a href="{{url_for('static', filename = 'assets/img/Russula/r5.jpg')}}" class="glightbox"><img src="{{url_for('static', filename = 'assets/img/Russula/r5.jpg')}}" class="gallery-img img-fluid" alt=""></a>
                
              </div><!-- gallery Item -->

              <div class="col-lg-4 gallery-item">
                <a href="{{url_for('static', filename = 'assets/img/Russula/r6.jpg')}}" class="glightbox"><img src="{{url_for('static', filename = 'assets/img/Russula/r6.jpg')}}" class="gallery-img img-fluid" alt=""></a>
                 
              </div><!-- gallery Item -->

            </div>
          </div><!-- End Lunch gallery Content -->

          <!-- End Dinner gallery Content -->

        </div>

      </div>
    </section><!-- End gallery Section -->

    <!-- ======= predict Section ======= -->
    <section id="predict" class="predict section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Prediction</h2>
          <p>upload your images <span>to Predict its kind</span></p>
        </div>
        
        
        <div class="hero" style=" display: flex;align-items: baseline;justify-content: center;text-align: center;
        padding: 0%;" data-aos="fade-up" data-aos-delay="200">
          <a href="/input" class="btn-book-a-table">Predict</a>
          
        </div>
      
        

      </div>
    </section><!-- End predict Section -->

    <!-- End Events Section -->

    <!-- ======= Chefs Section ======= -->
    <!-- End Chefs Section -->

    <!-- ======= Book A Table Section ======= -->
    <!-- End Book A Table Section -->

    <!-- ======= Gallery Section ======= -->
    <!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename = 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/aos/aos.js')}}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename = 'assets/js/main.js')}}"></script>

</body>

</html>